<html>
<head>
	<meta charset="UTF-8">
	<title>btn示例</title>
	<link rel="stylesheet" type="text/css" href="../css/dseMain.css" />
</head>
<body>
	<!-- module 具体功能 start -->
	<!-- 容器,容器放的为相对独立的一个构件，容器可以嵌套容器，header、content、footer根据实际情况可以选择用 -->
	<div class="dse-continer">
		<div class="dse-content">
			<!-- 具体内容 -->
			<div class="dse-rows">
				<button class="dse-btn-search">查询</button>
			</div>
			<div class="dse-rows">
				<button class="dse-btn-reset">重置</button>
			</div>
			<div class="dse-rows">
				<button class="dse-btn-delete">删除</button>
			</div>
			<div class="dse-rows">
				<button class="dse-btn-submit">提交</button>
			</div>
			<div class="dse-rows">
				<button class="dse-btn-import">导入</button>
			</div>
			<div class="dse-rows">
				<button class="dse-btn-export">导出</button>
			</div>
			<div class="dse-rows">
				<button class="dse-btn-download">下载</button>
			</div>
			<div class="dse-rows">
				<button class="dse-btn-register">注册</button>
			</div>
			<div class="dse-rows">
				<button class="dse-btn-Login">登入</button>
			</div>
			<div class="dse-rows">
				<button class="dse-btn-common">灰色</button>
			</div>
			<div class="dse-rows">
				<p>可搭配背景色</p>
			</div>
			<div class="dse-rows">
				<button class="dse-btn-common dse-bg-red">红色</button>
			</div>
			<div class="dse-rows">
				<button class="dse-btn-common dse-bg-lightRed">浅红</button>
			</div>
			<div class="dse-rows">
				<button class="dse-btn-common dse-bg-green">绿色</button>
			</div>
			<div class="dse-rows">
				<button class="dse-btn-common dse-bg-blue">蓝色</button>
			</div>
			<div class="dse-rows">
				<button class="dse-btn-common dse-bg-yellow">黄色</button>
			</div>
			<div class="dse-rows">
				<button class="dse-btn-common dse-bg-organge">橘黄色</button>
			</div>
		</div>
	</div>
	<!-- module 具体功能 end -->
</body>
</html>